<br>
<h1>Nuevo Alumnos</h1>
<form action="/addAlumno">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre">
  <label for="nombre">Nombre</label> //terminar

</form>
<table id="alumno" class=" table striped" style= "width: 50%;margin: auto">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
  </tr>
  </thead>
  <tbody>
  <% for(var i=0; i< a.length; i++){%>

  <tr>
    <td><%= a[i].nombre %></td>
    <td><%= a[i].apellido %></td>
    <td>
      <a href="/Alumno/ <%= a[i].id%>" class="btn-info btn">
        <i class="fas fa-eye"></i>
      </a>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
